In [1]:
import pandas as pd
import numpy as np
from master_lib.loader import converter, data_loader
from master_lib.utils import files_and_dirctories

In [2]:
path = r'C:\\Users\\MikołajStryja\\Documents\\Studia\\siim-covid19-detection'
subdirs = files_and_dirctories.list_dirs(path)
subdirs.sort() 
test = subdirs[0]
train = subdirs[1]

In [3]:
csv_files = files_and_dirctories.list_spec_files(path, 'csv')
csv_files

['sample_submission.csv', 'train_image_level.csv', 'train_study_level.csv']

In [4]:
pd_til = data_loader.load_csv(os.path.join(path, csv_files[1]))
pd_tsl = data_loader.load_csv(os.path.join(path, csv_files[2]))

In [5]:
pd_til.head()

,id,boxes,label,StudyInstanceUID
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e

In [6]:
pd_tsl.head()

,id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
0,00086460a852_study,0,1,0,0
1,000c9c05fd14_study,0,0,0,1
2,00292f8c37bd_study,1,0,0,0
3,005057b3f880_study,1,0,0,0
4,0051d9b12e72_study,0,0,0,1

In [7]:
dataset = {}
columns = list(pd_til.columns)
for elem in pd_til.iterrows():
    temp = converter.get_dict_image_level(elem[1], columns)
    dataset.update(temp)

In [8]:
dataset_tsl = {}
columns_tsl = list(pd_tsl.columns)
for elem in pd_tsl.iterrows():
    temp = converter.get_dict_study_level(elem[1], columns_tsl)
    dataset_tsl.update(temp)

In [9]:
suid = 'StudyInstanceUID'
for key in dataset.keys():
    x = dataset[key][suid]
    dataset[key].update(dataset_tsl[x])

In [10]:
path = r'C:\\Users\\MikołajStryja\\Documents\\Studia\\master\\'
import os
files_and_dirctories.save_json(dataset, os.path.join(path, 'dataset.json'))

In [5]:
dataset_test = converter.create_dataset_json(os.path.join(path, csv_files[1]), os.path.join(path, csv_files[2]))